<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kaninistocks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KaniniStocks">
        <activity
            android:name=".buyStocktesla"
            android:exported="false" />
        <activity
            android:name=".buyStockTestla"
            android:exported="false" />
        <activity
            android:name=".buyStockGoogle"
            android:exported="false" />
        <activity
            android:name=".stockbuyingtestla"
            android:exported="false" />
        <activity
            android:name=".stockbuyingTestla"
            android:exported="false" />
        <activity
            android:name=".stockbuyinggoogle"
            android:exported="false" />
        <activity
            android:name=".stockavailabeActivity"
            android:exported="false" />
        <activity
            android:name=".StockAvailabe"
            android:exported="false" />
        <activity
            android:name=".DrawActivity"
            android:exported="false" />
        <activity
            android:name=".stockpageActivity"
            android:exported="false" />
        <activity
            android:name=".DrawerActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="false" />
        <activity
            android:name=".LoginHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".userData.LoginHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".xLoginHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".OtherUserActivity"
            android:exported="false" />
        <activity
            android:name=".buyStockActivity"
            android:exported="false" />
        <activity
            android:name=".StockBuyingActivity"
            android:exported="false" />
        <activity
            android:name=".StockBuyActivity"
            android:exported="false"
            android:label="@string/title_activity_stock_buy"
            android:theme="@style/Theme.KaniniStocks.NoActionBar" />
        <activity
            android:name=".MyStockActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".AccountDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreenActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>